/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  background-color: #fff;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57vh;
  width: 50%;
  box-shadow: 0 5px 20px 17px hsl(252deg 100% 67% / 10%);
  border-radius: 20px;
}

.left-side {
  width: 100%;
  background-color: hsl(252, 100%, 67%);
  height: 100%;
  border-radius: 20px;
  text-align: center;
  margin-top: -20px;
}
p.top-result {
  color:   hsl(241, 100%, 89%);
  margin: 20px;
}
.circle {
  background-color: hsl(241, 81%, 54%);
  border-radius: 50%;
  height: 7rem;
  width: 50%;
  margin-left: 60px;
  display: flex;
    justify-content: flex-end;
    flex-direction: column;

}
.circle h2 {
  color: #fff;
  font-weight: 800;
  font-size: 40px;
}
.circle p {
  color:   hsl(241, 100%, 89%);

}
p.great {
  color: #fff;

}
.text{
  color:   hsl(241, 100%, 89%);
  font-size: 15px;
  padding: 14px;

}
.right-side {
  width: 100%;
  height: 100%;
}
.summary-list-wrapper {
}
.common-summary-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.csc-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-list-wrapper h2{
  font-size: 20px;
  font-weight: 800;
  margin: 10px;
}
.summary-sub-heading {
  margin: 0;
  color: hsl(0, 100%, 67%);
}
.marks {
  font-weight: 600;
  margin: 0;
  color: hsl(224deg 30% 27% / 50%);
}
.marks span {
  color: hsl(224, 30%, 27%);
}
.bg-color-1 {
    padding: 10px;
    margin: 5px 10px;
    width: 13rem;
  background-color: hsl(0deg 100% 67% / 10%);
}
.bg-color-2 {
    padding: 10px;
        margin: 5px 10px;
        width: 13rem;
  background-color: hsl(39deg 100% 56% / 10%);
}
.bg-color-3 {
    padding: 10px;
        width: 13rem;
        margin: 5px 10px;
  background-color: hsl(166deg 100% 37% / 10%);
}
.bg-color-4 {
    padding: 10px;
        width: 13rem;
        margin: 5px 10px;
  background-color: hsl(234deg 85% 45% / 10%);
}

.color-1 {
  color: hsl(39, 100%, 56%);
}
.color-2 {
  color: hsl(166, 100%, 37%);
}
.color-3 {
  color: hsl(234, 85%, 45%);
}
button{
  background:  hsla(256, 72%, 46%, 1) ;
  color: #fff;
  width: 13rem;
  margin: 13px 10px;
  padding: 5px;
  border-radius: 20px;
  border: none;
}
/* end here  */
@media (max-width:1440px) {
  .circle {
    margin-left: 80px;
} 
.main-card{
  height: 40vh;
  width: 35%;
}
}

@media (max-width:1024px) {
  .main-card{
    height: 57vh;
    width: 49%;
  }
  .circle {
    margin-left: 60px;
}
}
@media (max-width:768px) {
  .main-card{
    width: 71%;
    
  }
  .right-side {
    width: 50%;
    height: 100%;
    margin-left: 16rem;
    margin-top: -19rem;
}
.left-side{
  width: 50%;
  background-color: hsl(252, 100%, 67%);
  height: 100%;
  border-radius: 20px;
  text-align: center;
  margin-top: -20px;
}
}
@media (max-width:425px) {
  .main-card{
    width: 100%;
    height: 40rem;
  }
  .right-side {
    width: 100%;
    height: 100%;
    margin: 0;
}
  .bg-color-1 {
    padding: 10px;
    margin: 5px 20px;
    width: 22rem;
    background-color: hsl(0deg 100% 67% / 10%);
  }
  .bg-color-2 {
    padding: 10px;
    margin: 5px 20px;
    width: 22rem;
  background-color: hsl(39deg 100% 56% / 10%);
  }
  .bg-color-3 {
    padding: 10px;
    margin: 5px 20px;
    width: 22rem;
  background-color: hsl(166deg 100% 37% / 10%);
  }
  .bg-color-4 {
    padding: 10px;
    margin: 5px 20px;
    width: 22rem;
  background-color: hsl(234deg 85% 45% / 10%);
  }
  button{
    background:  hsla(256, 72%, 46%, 1) ;
    color: #fff;
    margin: 5px 20px;
    width: 22rem;
    padding: 5px;
    border-radius: 20px;
    border: none;
  }
  .left-side {
    width: 100%;
    background-color: hsl(252, 100%, 67%);
    height: 100%;
    border-radius: 20px;
    text-align: center;
   padding-top: 50px;
}
.circle {
  margin-left: 104px;
}
.summary-list-wrapper h2 {
  font-size: 30px;
  font-weight: 800;
  margin: 0px 31px;
}
}
@media (max-width:375px) {
  .main-card {
    width: 100rem;
    height: 40rem;
}
  
}
@media (max-width:320px) {
  .left-side {
    width: 100%;
    background-color: hsl(252, 100%, 67%);
    /* height: 100%; */
    border-radius: 20px;
    text-align: center;
    /* margin-top: 20px; */
}
p.top-result {
  color: hsl(241, 100%, 89%);
  /* margin: 20px; */
  /* margin-top: 28px; */
  padding-top: 0px;
}
.main-card {
  width: 100%;
  height: 41rem;
}
.bg-color-1 {
  padding: 10px;
  margin: 5px 18px;
  width: 16rem;
  background-color: hsl(0deg 100% 67% / 10%);
}
.bg-color-2 {
  padding: 10px;
  margin: 5px 18px;
  width: 16rem;
background-color: hsl(39deg 100% 56% / 10%);
}
.bg-color-3 {
  padding: 10px;
  margin: 5px 18px;
  width: 16rem;
background-color: hsl(166deg 100% 37% / 10%);
}
.bg-color-4 {
  padding: 10px;
  margin: 5px 18px;
  width: 16rem;
background-color: hsl(234deg 85% 45% / 10%);
}
button{
  background:  hsla(256, 72%, 46%, 1) ;
  color: #fff;
  margin: 5px 18px;
  width: 16rem;
  padding: 5px;
  border-radius: 20px;
  border: none;
}
.summary-list-wrapper h2 {
  font-size: 24px;
  font-weight: 800;
  margin: 0px 23px;
}
.circle {
  margin-left: 78px;
}
}